
<link rel="import" href="../polymer/polymer.html"/>
<link rel="import" href="polymer-date-picker-calendar.html"/>
<link rel="import" href="polymer-date-picker-positioning.html"/>
<script src="../moment/min/moment.min.js"></script>
<polymer-element name="polymer-date-picker" extends="polymer-date-picker-positioning" attributes="range selectedDate startDate endDate opened halign relatedTarget selected showRanges timezone">
  <template>
    <link rel="stylesheet" href="polymer-date-picker.css"/>
    <div id="target" class="daterangepicker opensright">
      <template if="{{range != null}}">
        <div hidden?="{{!showRanges}}" class="ranges">
          <ul on-click="{{rangeSelected}}">
            <template repeat="{{ r in _ranges }}">
              <li data-id="{{ r._id }}" data-type="{{ r.type }}" data-period-start="{{ r.subtractStart }}" data-period-end="{{ r.subtractEnd }}" class="{{ {active: (selected == r._id) } | tokenList }}">{{r.label}}</li>
            </template>
          </ul>
        </div>
        <polymer-date-picker-calendar start="start" startDate="{{startDate}}" endDate="{{endDate}}" hidden?="{{selected != 'custom'}}"></polymer-date-picker-calendar>
        <polymer-date-picker-calendar end="end" startDate="{{startDate}}" endDate="{{endDate}}" hidden?="{{selected != 'custom'}}"></polymer-date-picker-calendar>
      </template>
      <template if="{{range == null}}">
        <polymer-date-picker-calendar selectedDate="{{selectedDate}}"></polymer-date-picker-calendar>
      </template>
    </div>
  </template>
  <script>
    (function() {
      Polymer("polymer-date-picker", {
        halign: 'middle',
        selected: "",
        _ranges: [],
        created: function () {
          this._ranges = [];
        },
        ready: function() {
          this.target = this.$.target;
    
          this.showRanges = 'showRanges' in this.attributes;
    
          if ('range' in this.attributes) {
            //default ranges
            this.range = {
              today: {
                label: 'Today'
              }, 
              yesterday: {
                type: 'days',
                label: 'Yesterday',
                subtractStart: 1,
                subtractEnd: 1
              }, 
              last7Days: {
                type: 'days',
                label: 'Last 7 Days',
                subtractStart: 6
              }, 
              last30Days: {
                type: 'days',
                label: 'Last 30 Days',
                subtractStart: 30
              }, 
              thisMonth: {
                type: 'months',
                label: 'This Month'
              }, 
              lastMonth: {
                type: 'months',
                label: 'Last Month',
                subtractStart: 1,
                subtractEnd: 1
              }, 
              custom: {
                label: 'Custom'
              }
            };
    
            var obs = new ObjectObserver(this.range);
            var updateRanges = this.updateRanges.bind(this);
            obs.open(function () {
              updateRanges();
            });
            updateRanges();
          }
    
          this.super();
        },
        updateRanges: function () {
          this._ranges.length = 0;
          var id, rng;
          for (id in this.range) {
            rng = Object.create(this.range[id]);
            rng._id = rng.id || id;
            this._ranges.push(rng);
          }
        },
        close: function() {
          this.opened = false;
        },
        newMoment: function() {
          if (this.timezone && moment.tz) return moment().tz(this.timezone);
          else return moment();
        },
        rangeSelected: function (event) {
          var target = event.target;
    
          var id = target.attributes['data-id'].value,
              type = target.attributes['data-type'].value || 'days',
              subtractStart = 'data-period-start' in target.attributes ? ~~target.attributes['data-period-start'].value : 0,
              subtractEnd = 'data-period-end' in target.attributes ? ~~target.attributes['data-period-end'].value : 0;
    
          this.startDate = this.newMoment();
          this.endDate = this.newMoment();
    
          if (subtractStart) {
            this.startDate = this.startDate.subtract(subtractStart, type);
            if (subtractEnd) {
              this.endDate = this.endDate.subtract(subtractEnd, type);
            }
          }
    
          if (type === 'months') {
            this.startDate = this.startDate.startOf('month');
            this.endDate = this.endDate.endOf('month');
          }
    
          this.startDate = this.format(this.startDate);
          this.endDate = this.format(this.endDate);
    
          this.selected = id;
          if ('custom' !== id) {
            this.close();
          }
        },
        format: function(moment) {
          return moment.format("YYYY-MM-DD");
        }
      });
    }());
  </script>
</polymer-element>